<!-- About Section -->
<section id="intro" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img class="projects-heading"><%= image_tag("about me section.svg", alt: "project-img", height: 300, width: 300) %></img>
      <p>My name is Maurice Murphy and I'm a forward-thinker. I use that to my advantage when creating various projects.
      </p>
      <p>
        My affinity for art drives my design process. My goal is to consistantly improve upon old designs. At the same time, providing something fresh (and unique) to the overall design.
      </p>
      <p>I'm proficient in Ruby, as well as, Rails (or Ruby on Rails) and have some JavaScript experience. I'm constantly thinking of ways to test myself and push my skills to the next level. As I obtain new languages and concepts, this page will
        continuously be updated.
      </p>
      <p>Please feel free to the buttons below for information about myself. Also, please take a look at the freelance projects that I have worked on (in the "Projects" section).</p>
      <p>If you would like to contact me, my information is at the bottom of the page. Again, thank you for coming.</p>
      <br>
    </div>

    <p>
      Clicking on any of the 3 options below
      <br>
      will give you a better gauge of my qualifications:
      <br>
      <button class="btn btn-custom" type="button" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
        Skills
      </button>
      <button class="btn btn-custom" type="button" data-toggle="collapse" data-target="#collapseEducation" aria-expanded="false" aria-controls="collapseEducation">
        Education
      </button>
      <button class="btn btn-custom" type="button" data-toggle="collapse" data-target="#collapseWork" aria-expanded="false" aria-controls="collapseWork">
        Work Experience
      </button>
    </p>

    <!-- Skills Section -->
    <div class="collapse" id="collapseSkills">
      <div class="card card-block">
        <img class="projects-heading"><%= image_tag("Skills section.svg", alt: "project-img", height: 200, width: 200) %></img>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Languages</h3>
                <div class="progress">
                  <div class="progress-bar progress-bar-custom" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="80" aria-valuemax="100">JavaScript</div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-custom" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Ruby</div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-custom" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">CSS/SASS</div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-custom" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">HTML</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Database</h3>
                <img class="projects-heading"><%= image_tag("database1.svg", alt: "project-img", height: 150, width: 150) %></img>
                <img class="projects-heading"><%= image_tag("database2.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Cloud</h3>
                <img class="projects-heading"><%= image_tag("cloud1.svg", alt: "project-img", height: 150, width: 150) %></img>
                <img class="projects-heading"><%= image_tag("cloud2.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Systems</h3>
                <img class="projects-heading"><%= image_tag("os1.svg", alt: "project-img", height: 150, width: 150) %></img>
                <img class="projects-heading"><%= image_tag("os2.svg", alt: "project-img", height: 150, width: 150) %></img>
                <img class="projects-heading"><%= image_tag("os3.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Software</h3>
                <img class="projects-heading"><%= image_tag("software1.svg", alt: "project-img", height: 150, width: 150) %></img>
                <img class="projects-heading"><%= image_tag("software3.svg", alt: "project-img", height: 150, width: 150) %></img>
                <img class="projects-heading"><%= image_tag("software2.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Version Control</h3>
                <img class="projects-heading"><%= image_tag("Verison Control.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-block">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">User Interface</h3>
                <img class="projects-heading"><%= image_tag("UI.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Backend</h3>
                <img class="projects-heading"><%= image_tag("backend.svg", alt: "project-img", height: 150, width: 150) %></img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Education Section -->
    <div class="collapse" id="collapseEducation">
      <div class="card card-block">
        <img class="projects-heading"><%= image_tag("Education Section.svg", alt: "project-img", height: 200, width: 200) %></img>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">2015</h3>
                <p class="card-text">Florida Institute of Technology (Melbourne, FL)
                  <br>
                  BS, Information Systems
                  <br>
                  GPA:
                  <i>3.20/4.00</i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">2013</h3>
                <p class="card-text">Eastern Florida State College (Melbourne, FL)
                  <br>
                  AA, General Education
                  <br>
                  GPA:
                  <i>3.09/4.00</i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Work Section -->
    <div class="collapse" id="collapseWork">
      <div class="card card-block">
        <img class="projects-heading"><%= image_tag("Work Section.svg", alt: "project-img", height: 200, width: 200) %></img>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Currently</h3>
                <p class="card-text">Web Designer/Developer | Freelance
                  <br>
                  Web and mobile design, as well as, front-end and backend development.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">2015</h3>
                <p class="card-text">Tech Support | Florida Institute of Technology
                  <br>
                  Aided customers with technical assistance via remote log in, phone, and/or email.
                  <br>
                  Used Google Talk and Google Hangouts as means of communication with other technicians.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
