<section id="project" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="classy-font">
        Bayside Blog
      </h2>

      <h3 class="project-title">Developer & Designer</h3>
      <p class="project-description">A Restful CRUD API built with Node.js, Express and MongoDB. This is essentially an extension to the Bayside Vinyl brand. It gives the user (once they’ve signed up) CRUD abilities over all posts. The intent is to create a community of like-minded individuals who love discovering new music.</p>
      <br>
      <p class="project-contents">Built with MEAN Stack, Pug (formally Jade), HTML5, CSS3/SASS, Javascript (ES6), Bootstrap, Gulp, npm</p>
    </p>
    <br>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvblog-home.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvblog-show.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvblog-update.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
    <div class="col-xs-12">
      <div class="project-image"><%= image_tag("bvblog-landingpage.png", alt: "project-img", height: 720, width: 720) %></div>
      <br>
    </div>
  </div>
  <footer class="footer">
    <span class="text-muted">
      <a href="https://github.com/murphym757/bvblog" target="_blank"><%= image_tag("github.png", alt: "png-img", height: 100, width: 180) %></a>
      <a href="https://bvblog.herokuapp.com/posts" target="_blank"><%= image_tag("BV logo.png", alt: "png-img", height: 60, width: 90) %></a><br>
      <a class="btn btn-custom classy-font" href="/projects" role="button">Return to Projects</a>
    </footer>
  </section>
