<!-- About Section -->
<section id="projects" class="container content-section text-center animated fadeInLeft">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="projects-heading"><%= image_tag("projects section.svg", alt: "project-img", height: 300, width: 300) %>
      <p>Each image serves as a link.</p>
    </div>
    <div class="content">
      <div class="grid">
        <div class="row">
          <div class="col">
            <figure class="effect-bubba animated pulse">
              <%= image_tag("SPimg.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">Sega
                  <span>Paradise</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/segaparadise">View more</a>
              </figcaption>
            </figure>
            <figure class="effect-bubba animated pulse">
              <%= image_tag("portimg.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">Portfolio
                  <span>Website</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/portfolio">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <figure class="effect-bubba animated pulse">
              <%= image_tag("baysideimg.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">Bayside
                  <span>Vinyl</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/baysidevinyl">View more</a>
              </figcaption>
            </figure>
            <figure class="effect-bubba animated pulse">
              <%= image_tag("bvtg-logo.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">BV Theme
                  <span>Generator</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/bvthemegenerator">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <figure class="effect-bubba animated pulse">
              <%= image_tag("breakoutimg.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">Breakout!
                  <span>JS Game</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/breakoutjsgame">View more</a>
              </figcaption>
            </figure>
            <figure class="effect-bubba animated pulse">
              <%= image_tag("cfbimg.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">Crossfader
                  <span>Blog</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/crossfaderblog">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <figure class="effect-bubba animated pulse">
              <%= image_tag("bvbimg.jpg", alt: "project-img", height: 500, width: 500) %>
              <figcaption>
                <h2 class="classy-font">Bayside
                  <span>Blog</span>
                </h2>
                <p class="classy-font">Learn More</p>
                <a href="projects/bvblog">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
